/* Element Selectors */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #54BAB9;
    max-height: 100vh;
    min-width: 1300px;
}

h1 {
    color: #E9DAC1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 6px;
    font-size: 50px;
    align-self: center;
}

img {
    height: 80px;
    width: 80px;
}

/* Class Selectors */

.players {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
}

.human {
    display: flex;
}
.player-card-human {  
    border: 8px solid #18978F;
    border-radius: 100%;
    background-color: #F7ECDE;
    margin: 50px;
    padding: 10px;
}

.computer {
    display: flex;
    flex-flow: row-reverse;
}
.player-card-computer {
    border: 8px solid #18978F;
    border-radius: 100%;
    background-color: #F7ECDE;
    margin: 50px;
    padding: 10px;
}

.selection {
    display: flex;
    justify-content: space-around;
}
.players-card {
    border: 8px solid #18978F;
    border-radius: 100%;
    background-color: #F7ECDE;
    margin: 50px;
    padding: 10px;
}
.players-card:hover {
    transform: scale(1.1);
}
.rock {
    margin-left: 300px;
}
.paper {
    margin-right: 380px;
}

.copy-right {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.copy-right a {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 15px;
    text-decoration-line: none;
    color: black;
}
.copy-right a:active {
    text-decoration-line: underline overline;
}
/* ID selector */

#marks {
    align-self: center;
    font-family: 'yanone kaffeesatz', sans-serif;
    letter-spacing: 5px;
    font-size: 40px;
    color: #E9DAC1;
}